body {
    background-color: blue;
    color: red;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

p {
    margin: 100px;
    
}

.paragrph2 {
    color: #a9a9a9;
}

.one {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    bottom: 20px;
    right: 100px;
border-radius: 100px;
border: solid red 10px;

    
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: black;
    
}

a:hover {
    color: red;
}

.one:hover {
background-color: lime;

}